<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="wut_storage" version="3.0">
  <display-name>WUT Storage</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <!--
  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  -->
  <servlet>
    <servlet-name>row</servlet-name>
    <servlet-class>com.wut.resources.storage.row.RowResource</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>row</servlet-name>
    <url-pattern>/table/row</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>table</servlet-name>
    <servlet-class>com.wut.resources.storage.TableResource</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>table</servlet-name>
    <url-pattern>/table</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>setting</servlet-name>
    <servlet-class>com.wut.resources.settings.SettingsResource</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>setting</servlet-name>
    <url-pattern>/setting</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>user</servlet-name>
    <servlet-class>com.wut.resources.users.UsersResource</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
</web-app>
