<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="wut_dns" version="3.0">
	<display-name>WUT DNS</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>zone</servlet-name>
		<servlet-class>com.wut.resources.dns.ZoneResource</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>zone</servlet-name>
		<url-pattern>/zone</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>record</servlet-name>
		<servlet-class>com.wut.resources.dns.DNSRecordResource</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>record</servlet-name>
		<url-pattern>/record</url-pattern>
	</servlet-mapping>
</web-app>