<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>WUT Help</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>help</servlet-name>
    <servlet-class>com.wut.resources.help.HelpResource</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>diagnostic</servlet-name>
    <servlet-class>com.wut.resources.admin.DiagnosticResource</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>diagnostic</servlet-name>
    <url-pattern>/diagnostic</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>help</servlet-name>
    <url-pattern>/help</url-pattern>
  </servlet-mapping>
</web-app>