<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="wut_user" version="3.0">
  <display-name>WUT User</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>permission</servlet-name>
    <servlet-class>com.wut.resources.permission.PermissionsResource</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>permission</servlet-name>
    <url-pattern>/permission</url-pattern>
  </servlet-mapping>
</web-app>
